[LOG]
MAX_AGE=

[REST]
IP=
PORT=8090

[DIR]
REPO_DIR=/tmp/repo
SHELL_DIR=/tmp/script
VOLUME_DIR=/tmp/volume

[GITAUTH]
ID=Jaeun-Choi98
PASSWD=

[DOCKER]
DOCKER_REPO_IP=192.168.0.12
DOCKER_REPO_PORT=443
DOCKER_REPO_ID=juchoi
DOCKER_REPO_PASSWD=1234

[BUILD_SERVER]
BUILD_SERVER_PASSWD=1234

[SHELL]
SHELL_NAME=zsh

[REDIS]
IP=192.168.0.12
PORT=6379
PASSWD=1234
DB=0
PROTOCOL=2
TIMEOUT=5



