[LOG]
MAX_AGE=

[REST]
IP=
PORT=8700

[DIR]
REPO_DIR=/tmp/repo
SHELL_DIR=/tmp/script
VOLUME_DIR=/tmp/volume

[GITAUTH]
ID=Jaeun-Choi98
PASSWD=

[DOCKER]
DOCKER_REPO_IP=
DOCKER_REPO_PORT=
DOCKER_REPO_ID=
DOCKER_REPO_PASSWD=

[BUILD_SERVER]
BUILD_SERVER_PASSWD=

[SHELL]
SHELL_NAME=bash

[REDIS]
IP=192.168.0.10
PORT=
PASSWD=
DB=0
PROTOCOL=2
TIMEOUT=5

